#user-toolbar {
    margin-top: 30px;
}

#header {
    padding: 10px;
}

#buttons-ch {
    margin: 150px auto;
}

#or {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    font-size: 16px;
}

#submit-id-add_comment {
    /* margin-left: 10px; */
}

.content {
    /* background-color: #F5F5DC;*/
}

#sub-header {
    margin: 40px auto;
}

#header {
    margin-bottom: 20px;
}

#id_content {
    font-size: 20px;
}

#id_content_comment, #submit-id-add_comment, #id_content_correct {
    font-size: 20px;

}

#submit-id-add_comment {
    padding: 11px;
}

.content-correct {
    margin-bottom: 50px
}
