{% extends "base.html" %}
{% load static from staticfiles %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block meta_title %} - Board for messages{% endblock meta_title %}

{% block content %}

<div class="text-center" id="sub-header">
{% if user.is_authenticated %}
    {% crispy form %}
{% else %}

        {% url 'board' as board_url  %}
        <span class="lead">For adding messages or comments, please:
            <a href="{% url 'index' %}">
                Log In!
            </a>
        </span>

{% endif %}
</div>

<ul class="list-group">
    {% recursetree notices %}
        <li class="list-group-item lead">
            <!--<div>-->
                {% if node.is_child_node %}
                <p>Comments:</p>
                {% endif %}
            <!--</div>-->
            <span>
                ({{ node.created|date:"Y-M-d H:i:s" }})
                {{ node.user.get_full_name|default:node.user }}:
            </span>
            <p class="content">{{ node.content }}</p>
            <div class="content-correct">
                {% crispy form_correct %}
            </div>

            {% if user.is_authenticated %}
                <div id="buttons-comment-form">
                    <button type="button" class="addcomment btn btn-warning btn-xs"
                            data-comment-id="{{ node.id }}">Add
                        comment</button>
                    {% if user == node.user %}/
                    <button type="button" class="correct_msg btn btn-link" href="#">Correct</button>
                        <!--{% if node.updated == node.created %}Updated {{ node.updated|date:"Y-M-d H:i:s" }}{% endif %}-->
                    {% endif %}
                    <div class="comment" id="comment_to{{ node.id }}">
                        {% crispy form_comment %}
                    </div>

                </div>
            {% endif %}

            {% if not node.is_leaf_node %}
            <ul class="children">
                    {{ children }}
            </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% endblock content %}
