{% extends "base.html" %}
{% load static from staticfiles %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block meta_title %} - Board for messages{% endblock meta_title %}

{% block content %}

{% crispy form %}

<ul>
    {% recursetree notices %}
        <li>
            {{ node.created|date:"Y-M-d H:i:s" }} {{ node.content }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% endblock content %}
