{% extends "base.html" %}
{% load static from staticfiles %}

{% block meta_title %} - LogIn from facebook{% endblock meta_title %}

{% block content %}
<div class="text-center" id="buttons-ch">
    {% url 'board' as board_url  %}

    <a href="{% url 'social:begin' 'facebook' %}?next={{ board_url }}">
        <img src="{% static 'img/facebook3.png' %}" >
    </a>

    <div id="or">
        or
    </div>

    <a href="{% url 'board' %}">
        <button type="button" class="btn btn-default btn-lg">
        Enter without authenticating
        </button>
    </a>

</div>
{% endblock content %}
